/*Ensembles des variables*/
/*les fonctions*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.header__titreprincipal {
  font-family: "shrikhand";
  color: black;
  font-size: 4.5rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 1.5rem;
}

.annonce {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: Grey;
  background-color: rgba(224, 203, 203, 0.253);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: "roboto";
  margin-bottom: 8rem;
}

.annonce__local {
  display: flex;
  flex-direction: row;
  background-color: rgba(206, 189, 189, 0.253);
  box-shadow: inset 1px 6px rgba(190, 190, 187, 0.3);
  width: 100%;
}
.annonce__local__icone {
  width: 40%;
  padding-top: 1.9rem;
  text-align: right;
  font-size: 2.3rem;
}
.annonce__local__text {
  width: 60%;
  padding-left: 1.6rem;
  text-align: left;
  font-size: 2.3rem;
  font-weight: bold;
}

.annonce__text {
  font-family: "roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.annonce__text__h2first {
  padding-top: 4rem;
  font-size: 3.5rem;
  font-family: "roboto";
}
.annonce__text__h2 {
  font-size: 3.5rem;
  font-family: "roboto";
}
.annonce__text__commentairefirst {
  padding-top: 2.5rem;
  color: black;
  font-weight: lighter;
  font-family: "roboto";
  font-size: 2.1rem;
}
.annonce__text__commentaire {
  color: black;
  font-weight: lighter;
  font-family: "roboto";
  font-size: 2.1rem;
}

.btn {
  color: white;
  padding: 2.5rem 4rem;
  border-radius: 10rem;
  font-size: 2.3rem;
  font-weight: 500;
  background: linear-gradient(#ff79da, #9356DC);
  cursor: pointer;
  width: 27rem;
  margin-top: 5rem;
  margin-bottom: 8rem;
}
.btn:hover {
  background-color: #ff99e3;
}

/*Partie Fonctionnement*/
.titre-fonctionnement {
  font-size: 3.5rem;
  font-family: "roboto";
  padding-left: 2.2rem;
}
.titre-fonctionnement--partie-restaurant {
  background-color: rgba(224, 203, 203, 0.253);
  padding-bottom: 0px;
  padding-top: 2em;
  margin-bottom: 0px;
}

.container-fonct {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.container-fonct__bloc-bouton__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: black;
  padding: 0.5em 2.2em 0.5em 0em;
  border-radius: 50px;
  font-size: 2.7rem;
  font-weight: bold;
  background: rgba(206, 189, 189, 0.253);
  cursor: pointer;
  width: 46rem;
  margin: 0px 20px 60px 0px;
  box-shadow: 0px 5px 30px #ccbbbb;
}
.container-fonct__bloc-bouton__btn:hover {
  background-color: #ffdff6;
}

.container-fonct__bloc-bouton__btn__numeroetape {
  position: absolute;
  left: -35px;
  border-radius: 50%;
  background-color: #9356DC;
  padding: 10px 18px;
  color: white;
  font-size: 0.7em;
}

.position-icone {
  margin-right: 1.4em;
  font-size: 1.2em;
}
.position-icone.spe-size {
  font-size: 1em;
}
.position-icone.couleur {
  color: #9356DC;
}

/*partie Restaurant*/
.conteneur-Resto {
  background-color: rgba(206, 189, 189, 0.253);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;
  margin-bottom: 0px;
}

.conteneur-Resto__cards {
  margin-top: 2em;
  width: 90%;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 25px;
  height: 650px;
  background-color: white;
  align-content: center;
}

.conteneur-Resto__cards__photo {
  width: 100%;
  height: 70%;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}

.spe-note-enchante {
  position: absolute;
}

.conteneur-Resto__cards__text {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
}

.conteneur-Resto__cards__text__like {
  position: absolute;
  right: 40px;
  top: 60px;
  font-size: 4em;
}

.btn-nouveau {
  position: absolute;
  right: 30px;
  top: -460px;
  font-size: 2.2em;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 28px;
  padding-left: 28px;
  text-align: center;
  background-color: #99e2d0;
  color: #0e3a0e;
  font-weight: bold;
  font-family: "roboto";
}

.conteneur-Resto__cards__text__niv1 {
  font-size: 2.5em;
  font-family: "roboto";
  font-weight: 900;
  color: black;
  margin-bottom: 0px;
  padding-left: 1em;
}

.conteneur-Resto__cards__text__niv2 {
  font-family: "roboto";
  font-size: 2.4em;
  padding-top: 0.3em;
  padding-left: 1em;
  margin-top: 0px;
}

.footer {
  background-color: black;
  height: 40em;
  color: white;
  padding-left: 2em;
}
.footer--titre {
  margin-top: 0px;
  padding-top: 1em;
  font-family: "shrikhandregular";
  font-size: 3.2em;
  font-style: italic;
  font-weight: bolder;
}
.footer--texte {
  font-family: "roboto_condensedregular";
  font-size: 2.4em;
  font-weight: bolder;
}

.footer__bloc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__bloc__icone {
  width: 6%;
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.footer__bloc__text {
  margin-bottom: 0px;
  margin-top: 0px;
}

.footer--texte {
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0.5em;
  margin-top: 0px;
}

/*# sourceMappingURL=style.css.map */
