@import "./utils/variables";
@import "./utils/fonctions";
@import "./utils/mixins";

@font-face {
    font-family: 'shrikhandregular';
    src: url('fonts/shrikhand-regular-webfont.woff2') format('woff2'),
         url('fonts/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('fonts/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family:'roboto_condensedregular';
    font-size: 1.6rem;
}

h1{
    font-family:'shrikhandregular';
    color:red;
    font-size: 6rem;
    font-style: italic;
    color: black;
    font-weight: bolder;
    text-align: center;
}

.heading{
    display: flex;
    width: 100%;
    box-shadow: grey;
    background-color: $couleur-fond-gris;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.heading--localisation{
        display:flex;
        flex-direction:row;
        background-color:$couleur-fond-gris-localisation;
        box-shadow:inset 1px 6px rgb(190, 190, 187, 0.3);
        width: 100%;

    }
.heading--localisation--icone{
    width: 40%;
    padding-top:1.9rem;
    text-align:right;
    font-size: 2rem;
}

.heading--localisation--text{   
    width: 60%;
    padding-left:1.6rem;
    text-align:left;
    font-size: 2.1rem;
    font-weight: bold;
}

.btn{
    color:white;
    padding:2.5rem 4rem;
    border-radius: 10rem;
    font-size: 3rem;
    font-weight: 30;
    background: linear-gradient($couleur-secondaire,$couleur-primaire);
    cursor: pointer;
    width: 30rem;
    &:hover {
        background-color:pastel($couleur-secondaire);
    }
}

.heading--text{
    font-size:3rem;

}

/*Partie Fonctionnement*/
.fonctionnemnt{
    position:relative;
    margin-left: 5px;
    margin-right:5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

    .btn_fonctionnement_numeroetape{
        position:absolute;
        left:-40px;
        border-radius:50%;
        background-color: $couleur-primaire;
        padding:15px 25px;
        color:white;
    }

    .btn_fonctionnement{
        display: flex;
        justify-content: center;
        align-items: center;
        position:relative;
        color:black;
        padding:1.5rem 3rem;
        border-radius: 40px;
        font-size: 2.5rem;
        font-weight: bold;
        background:$couleur-fond-gris-localisation;
        cursor: pointer;
        width: 45rem;
        &:hover {
            background-color:pastel($couleur-secondaire);
        }
    }