@import "./utils/variables";
@import "./utils/fonctions";
@import "./utils/mixins";


@font-face {
    font-family: 'shrikhandregular';
    src: url('shrikhand-regular-webfont.woff2') format('woff2'),
         url('shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('robotocondensed-regular-webfont.woff2') format('woff2'),
         url('robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family:'shrikhandregular';
    color:red;
    font-size: 4rem;
    font-style: italic;
    color: black;
    font-weight: bolder;
    text-align: center;
}

body{
    font-family:'roboto_condensedregular';
    font-size: 1.5rem;
}

.rechercher{
    display: flex;
    border:none;
    font-size: 1.2rem;
    text-align: left;
    background-color: $couleur-fond-gris;
    box-shadow: grey;
    padding: 2rem 5rem;
    width: 60%;
    
}
.btn{
    color:white;
    padding: 1.5rem 3rem;
    border-radius: 10rem;
    font-size: 2rem;
    font-family:sans-serif;
    background-color: $couleur-secondaire;
    cursor: pointer;
    width: 50%;
    &:hover {
        background-color:pastel($couleur-secondaire);
    }
}