/*les fonctions*/

@function pastel($clr){
    $hue: hue($clr);
    $sat: 100%;
    $light: 80%;
    $pastel: hsl($hue, $sat, $light);

    @return $pastel;
}

@function foncir($clr){
    $hue: hue($clr);
    $sat: 100%;
    $light: 50%;
    $foncir: hsl($hue, $sat, $light);

    @return $foncir;
}