/*Ensembles des variables*/
$couleur-primaire: #9356DC;
$couleur-secondaire: #ff79da;
$couleur-tertiare: #99e2d0;
$couleur-fond-gris:rgb(226, 225, 225);
$couleur-fond-gris-local:rgb(241, 234, 234);
$couleur-text-nouveau:rgb(14, 58, 14);
$font2:"roboto";
$font1:"Shrikhand";

